<%- include("header") -%>

<h2>this is the about page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur ducimus unde suscipit assumenda, officia architecto consectetur facilis voluptate in qui vitae culpa? Tempora veritatis dolorum dolores dolor cum error dignissimos delectus consequuntur architecto! Aliquid, recusandae!</p>

<%- include("footer") -%>
